* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-1 {
  background-image: url(box1.jpg);
  height: 200px;
  width: auto;
  background-size: cover;
  background-position: center;
}
.main-2 {
  background-image: url(box2.jpg);
  height: 200px;
  width: auto;
  background-size: cover;
  background-position: center;
}
.main-3 {
  background-image: url(box3.jpg);
  height: 200px;
  width: auto;
  background-size: cover;
  background-position: center;
}
.main-4 {
  background-image: url(box4.jpg);
  height: 200px;
  width: auto;
  background-size: cover;
  background-position: center;
}
